<h1 color='color' my-draggable>HOME!!!</h1>

<div color='color' my-draggable>Format: <input type="text" ng-model='format'></div>

<div color='color' my-draggable>Color: <input type="color" ng-model='color'></div>

<div color='color' my-draggable> The time is: <span my-current-time='"hh:mm:ss"' color='color'></span></div>

<div color='color' my-draggable><input type="date" ng-model='date'></div>

<div color='color'>Name: <input type="text" ng-model='name'></div>
<div color='color'>{{name}}</div>

<test-directive></test-directive>

